section.tournament-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  margin: -.5rem;

  mat-card.tournament-card {
    margin: .5rem;
    flex: 1 1 0;

    :hover {
      cursor: pointer;
    }
  }
}
