div#tournament-list {
  padding: 1rem;

  section.tournament-card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;

    mat-card.tournament-card {
      margin: 1rem;
      flex: 1 1 0;

      :hover {
        cursor: pointer;        
      }
    }
  }

  .new-tournament-panel {
    mat-panel-description {
      text-align: right;
    }
  }
}
