section.tournament-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, auto));
  gap: 1rem;

  mat-card.tournament-card {
    :hover {
      cursor: pointer;
    }
  }
}
