<div id="header">

    <div class="layout-top">
        <div class="lcars-row">
            <div class="lcars-column fill">
                <div class="lcars-row fill">
                    <div class="lcars-element"></div>
                    <div class="lcars-column fill">
                        <h3>UBI-Pong</h3>
                    </div>
                </div>
                <div class="lcars-row">
                    <div class="lcars-elbow left-top lcars-rust-bg"></div>
                    <div class="lcars-bar horizontal left-space bottom lcars-rust-bg lcars-u-1"></div>
                    <div class="lcars-bar horizontal left-space bottom lcars-rust-bg lcars-u-1"></div>
                    <div class="lcars-bar fill horizontal left-space bottom lcars-rust-bg">
                        <div id="version" class="lcars-title right">UBIPong Version 1.0.0</div>
                    </div>
                </div>
                <div class="lcars-row">
                    <div class="lcars-elbow left-bottom lcars-rust-bg"></div>
                    <div class="lcars-bar horizontal left-space lcars-rust-bg lcars-u-1"></div>
                    <div class="lcars-bar horizontal left-space lcars-rust-bg lcars-u-1"></div>
                    <div class="lcars-bar fill horizontal left-space lcars-rust-bg"></div>
                </div>
                <div class="lcars-row">
                    <div class="lcars-element lcars-vu-0"></div>
                </div>
                <div class="lcars-row">
                    <div class="lcars-element lcars-vu-0"></div>
                </div>
                <div class="lcars-row">
                    <div class="lcars-element lcars-vu-0"></div>
                </div>
                <div class="lcars-row">
                    <div class="lcars-element lcars-vu-2"></div>
                </div>
                <div class="lcars-row">
                    <div class="lcars-element lcars-vu-1"></div>
                </div>
                <div class="lcars-row">
                    <div class="lcars-element lcars-vu-2"></div>
                </div>
                <div class="lcars-row">
                    <div class="lcars-element lcars-vu-1"></div>
                </div>
                <div class="lcars-row">
                    <div class="lcars-element lcars-vu-5"></div>
                </div>
                <div class="lcars-row">
                    <div class="lcars-element lcars-vu-3"></div>
                </div>
                <div class="lcars-row">
                    <div class="lcars-element lcars-vu-4"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="layout-bottom">
        <div class="content">
            <ng-content></ng-content>
        </div>
    </div>
</div>
