#header {
    .layout-top {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        h3 {
            margin: 0;
        }
    
        #version {
            padding: 0;
            font-size: 1rem;
        }
    }

    .layout-bottom {
        position: relative;
        width: 100%;
        top: 10rem;
        left: 10rem;
        display: flex;
    }
}