#tournament-list {
    div.content {
        padding: 1rem;

        div#new-tournament-box {
            div#accordion-add-tournament {
                margin-left: no;
                display: table;
            }

            div#new-tournament-form {
                padding: 1rem;
                button {
                    margin: 0 1rem;
                }
            }
        }

        ul {
            width: 40rem;
            margin: 0;
            padding: 0;
            li.tournament-item {
                list-style-type: none;
                margin: .5rem;
                padding: .5rem;
                box-shadow: 1rem 1rem 1rem cornflowerblue inset;

                h2.tournament-name {
                    margin-bottom: 0;
                }

                p.tournament-date {
                    margin-top: 0;
                }
            }
        }
    }
}