#tournament-list {
    div.content {
        padding: 1rem;

        div#new-tournament-box {
            div#accordion-add-tournament {
                margin-left: none;
                display: table;
            }

            div#new-tournament-form {
                margin: 0 1rem 1rem;
                button {
                    margin: 0 1rem;
                }
                input {
                    text-align: left;
                }
            }
        }

        ul {
            margin: 0;
            padding: 0;
            li.tournament-item {
                list-style-type: none;

                h2.tournament-name {
                    margin-bottom: -.5rem;
                }

                p.tournament-date {
                    margin-top: 0;
                    text-align: left;
                }
            }
        }
    }
}