<div id="tournament-list">
  <div class="content">
    <h1>Tournaments</h1>

    <div id="new-tournament-box">
      <!-- <button id="button-add-tournament-start" (click)="openNewTournamentForm()">Add Tournament</button> -->
      <div id="accordion-add-tournament" (click)="openNewTournamentForm()">Add Tournament</div>
      <!-- <div id="new-tournament-form" *ngIf="isNewTournamentFormOpen"> -->
      <div id="new-tournament-form" [hidden]="!isNewTournamentFormOpen">
        <p>Name: <input id="input-new-name" type="text" size="48" [(ngModel)]="inputNewName"></p>
        <p>Date: <input id="input-new-tournament-date" type="text" size="10" [(ngModel)]="inputNewTournamentDate"></p>
        <button id="button-add-tournament" (click)="addTournament()">Add</button>
        <button id="button-add-tournament-cancel" (click)="closeNewTournamentForm()">Cancel</button>
      </div>
    </div>

    <ul>
      <li class="tournament-item" *ngFor="let tournament of tournamentList">
        {{tournament.name}}
      </li>
    </ul>
  </div>
</div>
