<section class="event-editor">
  <p>
    <mat-form-field class="event-name">
      <mat-label>Name</mat-label>
      <input matInput class="event-name" type="text" size="48" [formControl]="inputEventName">
      <mat-error *ngIf="inputEventName.invalid">{{inputEventNameErrorMessage}}</mat-error>
    </mat-form-field>
  </p>

    <!--
    <mat-form-field class="challonge-url">
      <mat-label>Challonge URL</mat-label>
      <input matInput class="challonge-url" type="text" size="48" [formControl]="inputChallongeUrl">
      <mat-error *ngIf="inputChallongeUrl.invalid">{{inputChallongeUrlErrorMessage}}</mat-error>
    </mat-form-field>
    -->

  <p>
    <mat-form-field class="start-date">
      <mat-label>Start Date</mat-label>
      <input matInput class="start-date" placeholder="MM/dd/yyyy" [matDatepicker]="datepicker"
        [formControl]="inputStartDate">
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
      <mat-error *ngIf="inputStartDate.invalid">{{inputStartDateErrorMessage}}</mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="start-time">
      <mat-label>Start Time</mat-label>
      <mat-select class="start-time" [formControl]="inputStartTime">
        <mat-option *ngFor="let timeOption of timeOptionList" [value]="timeOption">{{timeOption.display}}</mat-option>
      </mat-select>
      <mat-error *ngIf="inputStartTime.invalid">{{inputStartTimeErrorMessage}}</mat-error>
    </mat-form-field>
  </p>
 
  <p>
    <button mat-button color="primary" class="submit-event" [disabled]="isFormInvalid" (click)="submitForm()">Save</button>
    <button mat-button color="secondary" class="cancel-event" (click)="cancelForm()">Cancel</button>
  </p>
</section>
