<div id="event-player-list">
    <table>
        <tr><td>Name</td><td>Club</td><td>Rating</td><td></td></tr>

        <tr *ngFor="let p of playerList">
            <td>{{p.name}}</td>
            <td>{{p.club}}</td>
            <td>{{p.rating}}</td>
            <td><input type="button" (click)="addPlayer('x')" value="X"></td>
        </tr>

        <tr>
            <td><input class="new-name" type="text" [value]="newName" size="24"></td>
            <td><input class="new-club" type="text" [value]="newClub" size="24"></td>
            <td><input class="new-rating" type="text" [value]="newRating" size="5"></td>
            <td><input type="button" (click)="addPlayer('x')" value="+"></td>
        </tr>
    </table>
</div>
