<app-main-menu>
  <section id="event-page">
    <h1>{{event?.name}}</h1>

    <div>
      <p>Start Time: <span class="start-time">{{event?.startTime}}</span></p>
    </div>
    <div>
      <button *ngIf="isLoggedIn" mat-button class="button-toggle-event-editor" (click)="toggleEventEditor()">
        Edit
      </button>
    </div>

    <app-event-editor *ngIf="isEventEditorOpen" [event]="event"
      (submitEvent)="updateEvent($event)" (cancelEvent)="toggleEventEditor()">
    </app-event-editor>
  </section>
</app-main-menu>
