<h1>Events for Tournament</h1>

<div id="accordion-add-event" (click)="toggleNewEventForm()">
  <p>Add Event</p>  
</div>
<div id="new-event-form" *ngIf="isNewEventFormOpen">
  <p>Name: <input id="input-new-name" #inputNewName></p>
  <p>Challonge URL: <input id="input-new-challonge-url" #inputChallongeUrl></p>
  <button id="button-add-event" (click)="addEvent(inputNewName.value, inputChallongeUrl.value)">Add</button>
  <button id="button-add-event-canel">Cancel</button>
</div>

<ul>
  <li class="event" *ngFor="let e of eventList">
    <div class="event-name">{{e.name}}</div>
    <div class="challonge-url">{{e.challongeUrl}}</div>
  </li>
</ul>
