#tournament-page {
  margin: 1rem;

  .tournament-actions {
    margin: 1rem 0;
  }

  #form-field-new-name {
    width: 20rem;
  }

  #form-field-new-challonge-url {
    width: 20rem;
  }
}
