<div class="single-match-sheet">
  <h1 class="event-name" [attr.data-name]="eventName">{{eventName}}</h1>
  <h2 class="round-name" [attr.data-name]="roundName">{{roundName}}</h2>
  <p>
    <span class="player-name" [attr.data-name]="player1Name">{{player1Name}}</span>
    vs
    <span class="player-name" [attr.data-name]="player2Name">{{player2Name}}</span>
  </p>

  <section class="score-grid">
    <p class="score">_____</p>
    <p class="score">_____</p>
    <p class="score">_____</p>
    <p class="score">_____</p>
    <p class="score">_____</p>
    <p class="score">_____</p>
    <p class="score">_____</p>
    <p class="score">_____</p>
    <p class="score">_____</p>
    <p class="score">_____</p>
  </section>
</div>

