.lcars {
    --color-background: black;
    --color-title-main: #f90;
    --color-title-highlight: #ff9;
    --color-title-shadow: #a53;
    --color-subtitle-main: #c9c;
    --color-subtitle-highlight: #c69;
    --color-subtitle-shadow: #646;
    --color-header-main: #99c;
    --color-header-highlight: #cdf;
    --color-header-shadow: #99f;
    --color-secondary-header-main: #c66;
    --color-secondary-header-highlight: #832;
    --color-secondary-header-shadow: #b41;
    --color-text-main: #fc9;
    --color-text-highlight: #fc6;
    --color-text-shadow: #d64;
    --color-alert-main: #99f;
    --color-alert-highlight: #01e;
    --color-alert-shadow: #59f;
    --color-comment-main: #f96;
    --color-comment-highlight: #c69;
    --color-comment-shadow: #f93;

    // from http://www.lcarscom.net/faq.htm
    --color-basic-0: #f90;
    --color-basic-1: #c9c;
    --color-basic-2: #99c;
    --color-basic-3: #c66;
    --color-basic-4: #fc9;
    --color-basic-5: #99f;
    --color-basic-6: #f96;
    --color-basic-7: #c69;
    
    // from https://codepen.io/Mokurunner/details/eqtHl
    --color-ext-01: #ff9;
    --color-ext-02: #fc6;
    --color-ext-03: #f93;
    --color-ext-04: #646;
    --color-ext-05: #c9c;
    --color-ext-06: #9cf;
    --color-ext-07: #36c;
    --color-ext-08: #069;
    --color-ext-09: #99c;
    --color-ext-10: #99f;
    --color-ext-11: #c9c; // duplicate
    --color-ext-12: #c69;
    --color-ext-13: #c66;
    --color-ext-14: #f96;
    --color-ext-15: #f90;
    --color-ext-16: #fc6;

    --color-ext-17: #68c;
    --color-ext-18: #45b;
    --color-ext-19: #97a;
    --color-ext-20: #746;
    --color-ext-21: #d64;
    --color-ext-22: #a53;
    --color-ext-23: #b62;
    --color-ext-24: #e95;
    --color-ext-25: #cdf;
    --color-ext-26: #59f;
    --color-ext-27: #36f;
    --color-ext-28: #01e;
    --color-ext-29: #008;
    --color-ext-30: #ba5;
    --color-ext-31: #b41;
    --color-ext-32: #821;
}