/* You can add global styles to this file, and also import other style files */
html {
    font-size: 12pt;
}

body {
    margin: 0;
    padding: 0;
}

/* a card is an item with some details inside */
.item-card {
    background-color: var(--color-header-main);
}
