/* You can add global styles to this file, and also import other style files */
html {
    font-size: 12pt;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text-main);
    // font-family: 'Anton', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

h4 {
    font-weight: normal;
}

h5 {
    font-weight: normal;
}

h6 {
    font-weight: normal;
}

input {
    border: none;
    font-size: 1.5rem;
}

.left-center {
    justify-content: flex-start;
    align-items: center;
}

.button:hover {
    &:hover {
        cursor: pointer;
    }
    &:active {
        color: var(--color-text-shadow);
    }
}
