section.event-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;

  mat-card.event {
    margin: 1rem;
    flex: 1 1 0;

    :hover {
      cursor: pointer;
    }
  }
}
