section.event-card-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;

  mat-card.event-card {
    margin: .5rem 0;
    :hover {
      cursor: pointer;
    }
    
    section {
      display: flex;
      justify-content: space-between;
    }
  }
}
