<!-- display this as a full page for now -->
<app-main-menu>
<div id="event-player-list">
    <table class="full-player-list">
        <tr><th>Name</th><th>Club</th><th>Rating</th><th></th></tr>

        <tr *ngFor="let p of playerList; index as i">
            <td>{{p.name}}</td>
            <td>{{p.club}}</td>
            <td>{{p.rating}}</td>
            <td><input type="button" (click)="deletePlayer(i)" value="X"></td>
        </tr>

        <tr>
            <td><input id="input-new-name" [(ngModel)]="newName" type="text" size="24"></td>
            <td><input id="input-new-club" [(ngModel)]="newClub" type="text" size="24"></td>
            <td><input id="input-new-rating" [(ngModel)]="newRating" type="tel" maxlength="4" size="4"></td>
            <td>
                <input id="button-add-player" type="button"
                (click)="addPlayer(this.newName, this.newClub, this.newRating)" value="+">
            </td>
        </tr>
    </table>

    <div>
        <label>
            <input id="checkbox-sorted-by-rating" type="checkbox" [checked]="sortedByRating"
                    (change)="toggleSortedByRating()">
            Sort by Rating
        </label>
    </div>

    <div class="group-control">
        Group size: <input id="input-group-size" #inputGroupSize type="tel" maxlength="1" size="1" value="5">
        <button id="button-make-groups" (click)="createGroupList(inputGroupSize.value)">Make Groups</button>
    </div>

    <div class="group-list">
        <div *ngFor="let g of roundRobinGroupList; index as i">
            <table class="group-player-list">
                <tr>
                    <th colspan="3">Group {{i}}</th>
                    <th><i class="fa fa-copy" (click)="copyGroupToClipboard(g)"></i></th>
                    <th><span (click)="copyGroupToClipboard(g)">copy</span></th>
                </tr>

                <tr><th>Name</th><th>Club</th><th>Rating</th><th></th></tr>

                <tr *ngFor="let p of g.playerList; index as i">
                    <td>{{p.name}}</td>
                    <td>{{p.club}}</td>
                    <td>{{p.rating}}</td>
                    <td><i class="fa fa-copy" (click)="copyPlayerToClipboard(p)"></i></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</app-main-menu>